@import "fonts.css";
body {
  font-family: "Open Sans Semibold";
}

ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.menu-bar {
  padding: 20px 0;
  color: #212121;
  background: #fff;
  height: 150px;
}
.menu__item a {
  font-size: 20px;
  color: #212121;
}
.menu__item {
  margin-left: 37px;
}
.menu__item a:hover {
  text-decoration: none;
  color: #7c7c7c;
}

/*********************шапка**/

.header > div {
  padding: 180px 0;
  text-align: center;
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: 0 100%;
}

.header__title {
  color: #fff;
  font-size: 55px;
}
.header__teg {
  color: #fff;
  font-size: 20px;
  margin-bottom: 100px;
}
.button {
  padding: 10px 25px;
  margin: 0 10px;
  color: white;
  transition: 0.5s;
}
.button_empty {
  background: transparent;
  border: 2px solid white;
}
.button_full {
  background-color: #00897b;
  border: 2px solid #00897b;
}
.button_empty:hover,
.button_full:hover {
  border: 2px solid white;
  background: #016d62;
  border-radius: 35px;
}
.about {
  color: black;
  background: white;
  text-align: center;
  margin-top: 25px;
  padding-top: 150px;
  padding-bottom: 125px;
}
.header__title {
  font-size: 30px;
  font-weight: bold;
}
.about__text {
  font-size: 15px;
  margin-bottom: 110px;
}
.img1 {
  padding-bottom: 35px;
}
.row__text {
  margin-bottom: 25px;
}
/*******наши услуги*/
.services {
  text-align: center;
  background-color: #e4fdf9;
  padding-top: 120px;
  padding-bottom: 125px;
}
.services__h2 {
  font-weight: bold;
  margin-bottom: 30px;
}
.services__blocks {
  border: 2px solid #00897b;
  background-color: white;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
}
.services__blocks-logo {
  margin: 20px 0;
}
.services__blocks-h {
  margin-bottom: 15px;
}
.services__blocks-p {
  text-align: center;
  padding: 0 35px;
}
.services__blocks-a {
  margin-bottom: 30px;
  margin-top: 30px;
}
.services__blocks a {
  border: 1px solid black;
  padding: 15px;
  color: black;
  transition: 0.5s;
}

.services__blocks:hover a {
  border: 1px solid black;
  padding: 15px;
  color: white;
  background-color: #00897b;
  text-decoration: none;
  
}
.services__blocks:hover {
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
  background-color: #00897b;
  transition: 0.5s;
}

.items__text {
  text-align: center;
  margin-top: 50px;
}
.items__text h2 {
  margin-bottom: 30px;
}
.items__text p {
  margin-bottom: 70px;
  /************************/
}
.items__li {
  /* background-color: white;
  border: 1px solid #00897b; */
}
.items__li:hover {
  /* background-color: #00897b;
  border: 1px solid #00897b; */
  color: white;
}
.items__ul a {
  padding: 10px 15px;
  border: 2px solid teal;
  border-radius: 2px;
  margin: 30px;
  color: black;
  text-decoration: none;
  transition: 0.5s;
}
.items__ul a:hover {
  color: white;
  text-decoration: none;
  background-color: teal;
  border-radius: 35px;
  transition: 0.5s;
}
.items__produc-img-1{
  width: 80%;
}
.items__produc-img-1:hover {
  opacity: 0.5;
  transition: 0.5s;
  
}
.text{
  display:none;
}
.items__produc-img-1:hover .text{
  display: block;
  width: 100%;
  color: white;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 3;
  text-align: center;
}
.items__product-1{
  margin-top: 50px;
  margin-bottom: 25px;
}
.button_allProduct-button{
  margin: 100px 0px;
}
.button_allProduct-button a{
  text-decoration: none;
  color: white;
  border: 1px solid #00897b;
  padding: 15px 30px;
  background-color: #00897b;
  transition: 0.5s;
}
.button_allProduct-button a:hover{
  text-decoration: none;
  color: white;
  background-color: #00ad9c;
  border: 1px solid #00cab6;
  transition: 0.5s;
}
.price{
  text-align: center;
  background-color: #f0f1f1;
  padding-top: 120px;
  padding-bottom: 125px;


}
.price__items-block{
  background-color: white;
  transition: 0.5s;
  margin-top: 40px;

}
.head__price{
  background-image: url(../img/Rectangle14.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 211px;
  color: white;
}
.price__items__block-sum{
  font-size: 50px;
}
.price__items__block-sum sup{
  font-size: 25px;
}
.price__items__block-sum sub{
  font-size: 17px;
}
.price__items-block p{
  text-align: center;
  color: #212121;
  font-size: 17px;
  max-width: 175px;
  border-bottom: 1px solid #bfbfbf;
  margin: 0 auto;
  
}
.price__block__center{
  margin: 50px;
}
.price___footer{
  padding: 60px 0;
}
.price___footer button{
  cursor: pointer;
  border: 2px solid #212121;
  color: #212121;
  background: transparent;
  padding: 15px 30px;
  font-size: 20px;
  transition: 0.5s;
}
.price__items-block:hover{
  box-shadow:0px 0px 9px 0px rgba(0,0,0,0.92);
-webkit-box-shadow:0px 0px 9px 0px rgba(0,0,0,0.92);
-moz-box-shadow:0px 0px 9px 0px rgba(0,0,0,0.92);
transition: 0.5s;

}
.price__items-block:hover button{
  background-color: #00897b;
  transition: 0.5s;
  
}



















@media screen and (max-width: 540px) {
  .items__ul li {
    margin-top: 30px;
  }
  .items__ul a {
    padding: 0 50px;
  }
}
