@import "fonts.css";
body {
  font-family: "Open Sans Semibold";
}

ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.menu-bar {
  padding: 20px 0;
  color: #212121;
  background: #fff;
  height: 150px;
}
.menu__item a {
  font-size: 20px;
  color: #212121;
}
.menu__item {
  margin-left: 37px;
}
.menu__item a:hover {
  text-decoration: none;
  color: #7c7c7c;
}
.header__logo {
  margin-left: 30px;
}

/*********************шапка**/

.header > div {
  padding: 180px 0;
  text-align: center;
  background-image: url(../img/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.header__title {
  color: #fff;
  font-size: 55px;
}
.header__teg {
  color: #fff;
  font-size: 20px;
  margin-bottom: 100px;
}
.button {
  padding: 10px 25px;
  margin: 0 10px;
  color: white;
  transition: 0.5s;
}
.button_empty {
  background: transparent;
  border: 2px solid white;
}
.button_full {
  background-color: #00897b;
  border: 2px solid #00897b;
}
.button_empty:hover,
.button_full:hover {
  border: 2px solid white;
  background: #016d62;
  border-radius: 35px;
}
.about {
  color: black;
  background: white;
  text-align: center;
  margin-top: 25px;
  padding-top: 80px;
  padding-bottom: 1px;
}
.header__title {
  font-size: 30px;
  font-weight: bold;
}
.about__text {
  font-size: 15px;
  margin-bottom: 110px;
}
.img1 {
  padding-bottom: 35px;
}
.row__text {
  margin-bottom: 25px;
}
/*******наши услуги*/

.services {
  text-align: center;
  background-color: #e4fdf9;
  padding-top: 120px;
  padding-bottom: 125px;
}
.services__h2 {
  font-weight: bold;
  margin-bottom: 30px;
}
.services__p {
  margin-bottom: 110px;
}
.services__blocks-p {
  margin-bottom: 40px;
}
.services__blocks {
  background-color: white;
  margin-bottom: 20px;
  width: 300px;
  transition: 0.5s;
  padding: 45px 0;
  margin: 10px 10px;
  margin-left: auto;
  margin-right: auto;

}
.services__blocks-logo {
  margin: 20px 0 27px 0;
}
.services__blocks-h {
  margin-bottom: 15px;
}
.services__blocks-p {
  text-align: center;
  padding: 0 35px;
}
.services__blocks-a {
  margin-bottom: 30px;
  margin-top: 30px;
}
.services__blocks a {
  border: 1px solid black;
  padding: 10px 18px;
  color: black;
  transition: 0.5s;
}

.services__blocks:hover a {
  border: 1px solid black;
  padding: 10px 18px;
  color: white;
  background-color: #00897b;
  text-decoration: none;
}
.services__blocks:hover {
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
  background-color: #00897b;
  transition: 0.5s;
  color: white;
}

.items__text {
  text-align: center;
  margin-top: 50px;
}
.items__text h2 {
  margin-bottom: 30px;
}
.items__text p {
  margin-bottom: 70px;
  /************************/
}
.items__button:hover {
  color: white;
}
.items_menu-width {
  width: 500px;
}
.items__button {
  padding: 10px 30px;
  border: 2px solid teal;
  border-radius: 2px;

  color: black;
  text-decoration: none;
  transition: 0.5s;
}
.items__button a:hover {
  color: white;
  text-decoration: none;
  background-color: teal;
  border-radius: 35px;
  transition: 0.5s;
}
.items__produc-img-1 {
  width: 80%;
}
.items__produc-img-1:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.button_portfolio {
  padding: 10px 35px;
  border: 2px solid #00897b;
  background-color: white;
  margin: 0 15px;
}
.button_portfolio:hover {
  background-color: #00897b;
  color: white;
}
.about {
  padding-top: 120px;
  padding-bottom: 125px;
  color: black;
  background: white;
  text-align: center;
}

.about__title {
  font-size: 30px;
  font-weight: bold;
}

.about__text {
  color: #212121;
  font-size: 15px;
  margin-bottom: 110px;
}

.about_h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Open Sans Semibold";
  font-size: 20px;
}

.text {
  opacity: 0;
}
.text__box:hover .text {
  display: block;
  color: white;
  position: absolute;
  z-index: 55;
  opacity: 1;
}

.items__product-1 {
  margin-top: 50px;
  margin-bottom: 25px;
}

.button_allProduct-button {
  margin: 80px 0px;
}

.button_allProduct-button a {
  text-decoration: none;
  color: white;
  border: 1px solid #00897b;
  padding: 15px 30px;
  background-color: #00897b;
  transition: 0.5s;
}

.button_allProduct-button a:hover {
  text-decoration: none;
  color: white;
  background-color: #00ad9c;
  border: 1px solid #00cab6;
  transition: 0.5s;
}

.price {
  text-align: center;
  background-color: #f0f1f1;
  padding-top: 120px;
  padding-bottom: 120px;
}
.price__items-block {
  background-color: white;
  transition: 0.5s;
  margin-top: 40px;
}
.head__price {
  background-image: url(/img/Rectangle14.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 211px;
  color: white;
}
.price__items__block-sum {
  font-size: 50px;
}
.price__items__block-sum sup {
  font-size: 25px;
}
.price__items__block-sum sub {
  font-size: 17px;
}
.price__items-block p {
  text-align: center;
  color: #212121;
  font-size: 17px;
  max-width: 175px;
  border-bottom: 1px solid #757575;
  margin: 0 auto;
}
.price__block__center {
  margin: 50px;
}
.price___footer {
  padding: 60px 0;
}
.price___footer button {
  cursor: pointer;
  border: 2px solid #212121;
  color: #212121;
  background: transparent;
  padding: 15px 30px;
  font-size: 20px;
  transition: 0.5s;
}
.price__items-block:hover {
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.92);
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.92);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.92);
  transition: 0.5s;
}
.price__items-block:hover button {
  background-color: #00897b;
  transition: 0.5s;
  color: white;
  border: 1px solid #00897b;
}
.items__button {
  margin: 0 150px;
}
.items__button-1 {
  width: 100%;
}
.head__price {
  max-height: 211px;
  max-width: 374px;
}
.price__items-block {
  max-width: 374px;
}
.price__items {
  margin: 0 auto;
}
.price__items-block {
  margin: 0 auto;
}
.button_portfolio-block {
  margin-bottom: 30px;
}
.price__text p {
  margin-bottom: 130px;
}
.price__block__center p {
  margin-top: 10px;
  padding-bottom: 5px;
}


